package domain

import (
	"context"
)

type {{ pascalize .Name }}Service interface {
	{{ range .Operations }}{{ pascalize .Name }}(ctx context.Context, req {{ pascalize .Name }}Request) {{ pascalize .Name }}Response
	{{ end }}
}

type {{ pascalize .Name }}Service interface {
	{{ range .Operations }}{{ pascalize .Name }}(ctx context.Context{{ range .Params }}, {{ .Name }} {{ .GoType }}{{ end }}) {{ if .SuccessResponse.Schema }} {{ .SuccessResponse.Schema.GoType }}{{ end }}, error
	{{ end }}
}
