package domain

import (
	"context"
)

type {{ pascalize .Name }}Service interface {
	{{ range .Operations }}{{ pascalize .Name }}(ctx context.Context{{ range .Params }}, {{ varname .Name }} {{ stripPackage .GoType }}{{ end }}) {{ if .SuccessResponse }}{{ if .SuccessResponse.Schema }}({{ stripPackage .SuccessResponse.Schema.GoType }},{{ end }}{{ end }} error{{ if .SuccessResponse }}{{ if .SuccessResponse.Schema }}){{ end }}{{ end }}
	{{ end }}
}
