package log

import (
	"context"
	"time"

	"github.com/go-kit/kit/log"
)

func {{ pascalize .Name }}LoggingMiddleware(logger log.Logger) domain.{{ pascalize .Name }}ServiceMiddleware {
  return func(next domain.{{ pascalize .Name }}Service) domain.{{ pascalize .Name}}Service {
    return {{ .Name }}LoggingMiddleware{logger, next}
  }
}

type {{ .Name }}LoggingMiddleware struct {
  logger log.Logger
  next domain.{{ pascalize .Name }}Service
}